@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;
  background-image: url("./assets/bg-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navbar a{
  text-decoration: transparent;
  color: inherit;
  font-size: 20px;
  transition: .3s;
}
.navbar a:hover{
  text-decoration: underline;
}
.container{
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  align-items: start;
  gap: 100px;
}

.label {
  font-size: 25px;
}